/* Fonts */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.common-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.common-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}

.common-btn{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-style: 1.25rem;
    font-weight: 600;
    color: #FFF;
    border: 0;

}



/* Header Section Styles */
/* ------------------------ */
header{
    padding-top: 50px;
    padding-bottom: 30px;
    background: rgba(255, 144, 14, 0.10);
    padding-left: 200px;
    padding-right: 200px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
}

/* Banner Styles */
.banner{
    margin-top: 100px;
}

.banner-content{
    text-align: center;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner-btn{
    margin-top: 30px;
    margin-bottom: 70px;
}


.banner-img{
    display: flex;
    justify-content: center;
}

/* Team section Styles */
.team-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-content{
    margin-left: 50px;
}

.quick-list{
    color: #727272;
}

.feature-list{
    color: #FF900E;
}

/* Feature Section Styles */
.feature-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 100px;
}

.feature-title{
    margin-bottom: 24px;
}

.feature-description{
    margin-bottom: 20px;
}

.feature-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
    padding: 15px;
}

.feature-card-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-img-container img{
    height: 80%;
    margin-left: 100px;
}

.feature-btn{
    position: relative;
    bottom: 120px;
    left: 40px;
    height: 200px;
    width: 300px;
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
    padding: 20px;
}

/* Facts Styles */
.fact-container{
    padding-left: 200px;
    padding-right: 200px;
}

.fact-card-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.fact-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    align-items: center;
    padding: 30px 40px;
}
.fact-card-number{
    margin-top: 10px;
    margin-bottom: 10px;
}

.fact-card-number{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}

.fact-card-title{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* Sponsors Styles */
.sponsors-container{
    margin-top: 100px;
}

.sponsors-content{
    text-align: center;
}

.sponsors-companies{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

/* Footer Section Styles */
.footer-container{
    margin-top: 150px;
    padding-bottom: 100px;
}

.footer-content{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
}

.footer-text{
    color: #424242;
    font-size: 20px;
    font-weight: 400;
}

/* Responsive media query for Mobile Device */
/* ------------------------------------------- */

@media screen and (max-width: 576px) {
    header{
        padding: 15px;
        text-align: center;
    }
    
    nav{
        flex-direction: column;
        padding: 0;
    }

    .nav-title{
        font-size: 2rem;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin-top: 10px;
        margin-right: 10px;
    }

    .banner{
        margin-top: 50px;
    }

    .banner-title{
        font-size: 2.5rem;
    }

    .banner-btn{
        margin-bottom: 40px;
    }

    .banner-img img{
        width: 100%;
    }

    .team-container{
        flex-direction: column-reverse;
        padding-left: 20px;
        padding-right: 20px;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }

    .team-content{
        margin-bottom: 50px;
    }

    .feature-container{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .feature-img-container img{
        width: 100%;
        margin-left: 0px;
    }
    .feature-btn{
        position: static;
        height: 100px;
        width: 100%;
        font-size: 30px;
        padding: 10px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .fact-container{
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .fact-card-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .sponsors-companies{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-content{
        width: 100%;
        text-align: center;
        padding: 20px;
    }


}


/* Responsvie Media Query For Medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    
    header{
        padding-left: 20px;
        padding-right: 20px;
    }

    nav{
        flex-direction: column;
        text-align: center;
    }

    nav ul{
        justify-content: center;
    }

    nav li{
        margin-top: 15px;
        margin-right: 20px;
    }

    .banner{
        margin-top: 70px;
    }
    .banner-img img{
        width: 100%;
    }

    .team-container{
        flex-direction: column-reverse;
        padding-left: 50px;
        padding-right: 50px;
    }
    .feature-content{
        padding-left: 50px;
        padding-right: 50px;
    }


    .team-img-container{
        grid-template-columns: 1fr;
    }

    .team-content{
        margin-bottom: 50px;
    }

    .feature-container{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .feature-img-container img{
        width: 100%;
        margin-left: 0px;
    }
    .feature-btn{
        position: static;
        height: 100px;
        width: 100%;
        font-size: 30px;
        padding: 20px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .fact-container{
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .fact-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .sponsors-companies{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-content{
        width: 100%;
    }

}